---
import TagFilter from "./components/TagFilter.jsx";
import "starlight-site-graph/styles/variables.css";
import "../styles/global.css";
import { PageGraph } from "starlight-site-graph/components";
import SocialButton from "./components/SocialButton.jsx";
import Navbar from "./components/Navbar";
const posts = await Astro.glob("../pages/**/*.md");
posts.sort(
  (a, b) =>
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
);

//tags
let uniqueTags = Array.from(
  new Set(posts.flatMap((p) => p.frontmatter.tags || []))
);
---

<html lang="de" data-theme="light">
  <head>
    <title>Mein Blog</title>
  </head>
  <body class="bg-gray-50 text-gray-800 font-sans">
    <div class="mt-4">
      <Navbar client:load />
    </div>
    <div class="h-12"></div>
    <main class="mx-auto w-full max-w-7xl px-2 sm:px-6 lg:px-8">
      <section class="bg-[#D9D9D9] py-16 rounded-xl">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <h1 class="font-mono font-bold text-4xl md:text-5xl text-black mb-6">
            Hi, I am <span style={{ color: "#F6790C" }}>Max</span>
          </h1>

          <p
            class="font-mono text-lg md:text-xl leading-relaxed text-black mb-10"
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
            vero esse non molestias eos excepturi, inventore atque cupiditate.
            Sed voluptatem quas omnis culpa, et odit. Lorem ipsum dolor sit amet
            Angular adipisicing elit. Tenetur vero esse non molestias eos
            excepturi, inventore atque cupiditate. Sed voluptatem quas omnis
            culpa, et odit. Lorem ipsum dolor sit amet Angular adipisicing elit.
            Tenetur vero esse non molestias eos excepturi, inventore atque
            cupiditate.
          </p>

          <div class="flex flex-col sm:flex-row gap-6">
            <SocialButton
              href="https://www.linkedin.com/in/maximilian-zenke-2a0749265/"
              icon="linkedin"
            />
            <SocialButton
              href="https://github.com/maximilianZenke"
              icon="github"
            />
          </div>
        </div>
      </section>
      <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 mt-10">
        <h1 class="font-mono font-bold text-4xl md:text-5xl text-black mb-6">
          This is what I do
        </h1>
        <PageGraph client:load />
        <div class="h-12"></div>
        <p
          class="font-mono text-lg md:text-xl leading-relaxed text-black mb-10"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur vero
          esse non molestias eos excepturi, inventore atque cupiditate. Sed
          voluptatem quas omnis culpa, et odit. Lorem ipsum dolor sit amet.
        </p>
      </div>
    </main>
  </body>
</html>
